@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  background-color: #af752a;
}

header {
  background-color: #46221d;
}

.logo {
  width: 80px;
}

.headerlogo {
  width: 120px;
}

.nav {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;

}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 40px;
}

.nav-label img {
  display: block;
  width: 100%;
}

nav ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  clear: left;
  padding: 0;
}

p, li {
  color: #46221d;
}

nav li {
  display: inline;
}

.featurephoto {
  width: 100%;
  margin-bottom: -3px;
}

.menu {
  background-color: #99d5ce;
  overflow: hidden;
}

.bluetext {
  color: #004056;
}

figure {
  width: 100%;
  margin: 0;
}

figcaption {
  clear: left;
}

.about {
  overflow: hidden;
  margin-top: 0%;
  color: #46221d;
}

.abouth2 {
  margin-bottom: 5px;
  color: #46221d;
}

.flavours {
  width: 100%;
  margin: 0;
}

.news {
  background-color: #af752a;
  margin-top: 0;
}

.newsh2 {
  margin-top: 15px;
}

.contact {
  overflow: hidden;
  background-color: #af752a;
  text-align: center;
}

.contactinfo {
  margin: 20px;
}

h1 {
  color: #fff;
}

.hours {
  margin: 20px;
  padding-bottom: 10px;
}

.address {
  margin: 1px;
}

.contacttitle {
  color: #004056;
  margin: 0;
  padding: 10px;
}

.map {
  width: 100%;
  margin-bottom: -4px;
}

.button li {
  width: 100%;
  max-width: 100px;
}

.button a {
  display: block;
  color: white;
  border: 1.5px solid;
  border-radius: 10px;
  border-color: white;
  background-color: #46221d;
  text-align: center;

}

.btn {
  border: 0;
  background-color: #46221d;
  margin: 0;
}

.card:hover .btn {
  background-color: #46221d;
  color: #fff;
}

.herobutton a {
  width: 200px;
  background-color: #46221d;
  color: #fff;
  border-radius: 10px;
}

.button a:hover, .button a.active {
  background-color: #af752a;
  color: #fff;
}

.herobutton a:hover {
  background-color: #46221d;
  color: #af752a;
}

.hero {
  max-height: 75vh;
  position: relative;
  overflow: hidden;
  padding-top: 220%;
  background-color: #cc9644;
}

.hero-content {
  padding: 0 1rem;
  position: absolute;
  width: 100%;
  bottom: 15%;
  color: #fff;
  text-align: center;
}

.hero2 {
  max-height: 75vh;
  position: relative;
  overflow: hidden;
  background: url("../images/herobanner2.jpg") no-repeat center top / cover;
  padding-top: 80%;
  background-color: darkgrey;
}

.hero-content2 {
  padding: 0 1rem;
  position: absolute;
  width: 100%;
  bottom: 15%;
  color: #fff;
  text-align: left;
}

.hero3 {
  max-height: 75vh;
  position: relative;
  overflow: hidden;
  background: url("../images/herobanner3.jpg") no-repeat center top / cover;
  padding-top: 80%;
  background-color: darkgrey;
}

.hero-content3 {
  padding: 0 1rem;
  position: absolute;
  width: 100%;
  bottom: 15%;
  color: #fff;
  text-align: left;
}

.hero4 {
  max-height: 75vh;
  position: relative;
  overflow: hidden;
  background: url("../images/herobanner4.jpg") no-repeat center top / cover;
  padding-top: 80%;
  background-color: darkgrey;
}

.hero-content4 {
  padding: 0 1rem;
  position: absolute;
  width: 100%;
  bottom: 15%;
  color: #fff;
  text-align: left;
}

h3 {
  color: #fff;
}

footer {
  color: white;
  background-color: #432a2a;
}

.whitelink {
  color: white;
}

input + label {
  display: inline;
}

.iconimg {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  border-color: #432a2a;
  background-color: #af752a;
}

legend {
  color: #46221d;
}

@media only screen and (min-width: 15em) {

  .hero {
    padding-top: 300%;
  }

  .hero2 {
    padding-top: 80%;
  }

  .hero3 {
    padding-top: 80%;
  }

}

@media only screen and (min-width: 22em) {

  nav li {
    display: inline-block;
  }

  .hero {
    padding-top: 200%;
  }

  .hero2 {
    padding-top: 50%;
  }

  .hero3 {
    padding-top: 50%;
  }

  .hero4 {
    padding-top: 50%;
  }
}

@media only screen and (min-width: 32em) {

  .hero {
    padding-top: 130%;
  }

}

@media only screen and (min-width: 38em) {

  .headerlogo {
    width: 180px;
  }

  .nav {
    display: block;
  }

  .nav-label {
    display: none;
  }

  .button li {
    width: 100%;
    max-width: 200px;
  }

}

@media only screen and (min-width: 46em) {

  .hero {
    padding-top: 96%;
  }
}

@media only screen and (min-width: 62em) {

  .hero {
    padding-top: 72%;
  }
}
