@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  font-family: 'Open Sans Condensed', sans-serif;
}

header{
  background-color: #46221d;
}
.logo{
  width: 80px;
}
.headerlogo{
  width: 120px;
}
.nav{
  display: none;
}
.nav-check:checked ~ .nav{
  display: block;
}
.nav-check{
  position: absolute;
  top: -3em;

}
.nav-label{
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 40px;
}
.nav-label img{
  display: block;
  width: 100%;
}
nav ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  clear: left;
  padding: 0;
}

nav li{
  display: inline;
}

.featurephoto{
  width: 100%;
  margin-bottom: -3px;
}

.button li{
  width: 100%;
  max-width: 100px;
}
.button a{
  display: block;
  color: white;
  border: 1.5px solid;
  border-radius: 10px;
  border-color: white;
  background-color: #46221d;
  text-align: center;

}
.button a:hover, .button a.active{
  background-color: #f69a72;
  color: #fff;
}
.herobutton a{
  width: 200px;
  background-color: #46221d;
  color: #fff;
  border-radius: 10px;
}
.herobutton a:hover{
  background-color: #46221d;
  color: #af752a;
}
.hero{
  max-height: 75vh;
  position: relative;
  overflow: hidden;
  padding-top: 220%;
  background-color: #cc9644;
}
.hero-content{
  padding: 0 1rem;
  position: absolute;
  width: 100%;
  bottom: 15%;
  color: #fff;
  text-align: center;
}
.hero2{
  max-height: 75vh;
  position: relative;
  overflow: hidden;
  background: url("../images/herobanner2.jpg") no-repeat center top / cover;
  padding-top: 80%;
  background-color: darkgrey;
}
.hero-content2{
  padding: 0 1rem;
  position: absolute;
  width: 100%;
  bottom: 15%;
  color: #fff;
  text-align: left;
}
.hero3{
  max-height: 75vh;
  position: relative;
  overflow: hidden;
  background: url("../images/herobanner3.jpg") no-repeat center top / cover;
  padding-top: 80%;
  background-color: darkgrey;
}
.hero-content3{
  padding: 0 1rem;
  position: absolute;
  width: 100%;
  bottom: 15%;
  color: #fff;
  text-align: left;
}

.hero4{
  max-height: 75vh;
  position: relative;
  overflow: hidden;
  background: url("../images/herobanner4.jpg") no-repeat center top / cover;
  padding-top: 80%;
  background-color: darkgrey;
}
.hero-content4{
  padding: 0 1rem;
  position: absolute;
  width: 100%;
  bottom: 15%;
  color: #fff;
  text-align: left;
}


main{
  background-color: #e34445;
}
p,li{
  color: white;
}
h3{
  color: #f69a72;
}
.icon{
  background: url("../images/peach.png");
  background-size: 140px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
}
.icon2{
  background: url("../images/tomato.png");
  background-size: 140px auto;
  background-repeat: no-repeat;
  background-position: center;
}
.bucket{
  color: white;
}

footer{
  color: white;
  background-color: #432a2a;
}
.whitelink{
  color: white;
}
input + label{
  display: inline;
}

.iconimg{
  width: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
fieldset{
  border-color: #f69a72;
  background-color: white;
}
legend{
  color:#e34445;
}


.peach{
  background-image: url("../images/peach.png");
  background-size: 80px auto;
  background-repeat: no-repeat;
  background-position: center 1em;
  padding: 5em 1em 1em 1em;
  text-align: center;
  clear: both;
}

.tomato{
  background-image: url("../images/tomato.png");
  background-size: 80px auto;
  background-repeat: no-repeat;
  background-position: center 1em;
  padding: 5em 1em 1em 1em;
  text-align: center;
  clear: both;
}

.bean{
  background-image: url("../images/bean.png");
  background-size: 80px auto;
  background-repeat: no-repeat;
  background-position: center 1em;
  padding: 5em 1em 1em 1em;
  text-align: center;
  clear: both;
}

@media only screen and (min-width: 15em){
  .hero{
    padding-top: 300%;
  }
  .hero2{
    padding-top: 80%;
  }
  .hero3{
    padding-top: 80%;
  }
}

@media only screen and (min-width: 22em){

  nav li{
    display: inline-block;
  }
  .hero{
    padding-top: 200%;
  }
  .hero2{
    padding-top: 50%;
  }
  .hero3{
    padding-top: 50%;
  }
  .hero4{
    padding-top: 50%
  }
}
@media only screen and (min-width: 32em){


    .hero{
      padding-top: 130%;
    }

}
@media only screen and (min-width: 38em){
  .headerlogo{
    width: 180px;
  }
  .nav{
    display: block;
  }
  .nav-label{
    display: none;
  }
  .button li{
    width: 100%;
    max-width: 200px;
  }
}
@media only screen and (min-width: 46em){
  .hero{
    padding-top: 96%;
  }
}
@media only screen and (min-width: 62em){
  .hero{
    padding-top: 72%;
  }
}
